body
{
	
  padding:0px;
  margin:0px auto;
  font-family	: Arial,sans-serif;
  font-size	: 12px;
  font-weight	:400;
  color : 	#444444;
  text-transform	:none;
  text-decoration :	none;
  line-height	: 16px;
  
 

}

body a
{
	text-decoration:none;
	outline:none;
	border:none;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#header
{
	
  	height: 100px;
  	font-size: 20px;
  	border-bottom: 3px solid #CCCCCC;
   color: #eee;
    
    background: #333;
    background: -moz-linear-gradient(top, #444, #333);
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
    
}

#header a:hover, #header a:active {
    color: #ddd;
}

#heading 
{
	margin-left: 100px;
	padding-top: 40px;
	float: left;	
	
}

#logo
{
	position: relative;
	left: -20px;
	top: -30px;
	float: left;
	
}

#topnav
{
	
		
	
}

#leftmenu 
{
	position: relative;
	
	margin-left:  0px;
	margin-top: 50px;
	padding 10px;
	float: left;
	left: -500px;
	border: 1px solid;
	border-color: #C7C7C7;
	border-width: 1px;
	border-radius: 4px;
	
	
	
}

#leftmenu li
{
	//border-bottom: 1px solid #CCCCCC;
	width: 200px;
	margin: 4px;
	background: #e0e0e0;
   background: -moz-linear-gradient(top, #e9e9e9, #e0e0e0);
   background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#e0e0e0));
	
	
}


#leftmenu li a 
{
	height: 16px;
	text-decoration: none;
	padding:10px;
		
	
}	
	
#leftmenu li a:link, #leftmenu li a:visited 
{
	color: #333;
	display: block;
	

	
}

#leftmenu li a:active
{
	color: #333;
	display: block;
	font-weight: bolder;
}
	
#leftmenu li a:hover 
{
	background: #333;
   background: -moz-linear-gradient(top, #444, #333);
   background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
   color: #EEE;
	font-weight: bold;
		
	
}

#content

{
	
	position: absolute;
	margin-left: 250px;
	margin-top: 50px;
	padding-left: 30px;
	border-left: 2px solid #CCCCCC;
	min-height: 260px;
	
	
}

.line
{
	background-color: #24404C;
    border-bottom: 1px solid #416371;
    height: 1px;
    margin: 1em 0;
    overflow: hidden;
    
}
